@import url(snippets.css);
@import url(font.css);
body
{
   font-family: 'Roboto', sans-serif;
   font-weight: 200;
}
header
{
   background-color: #DA3531; 
}
.container
{
  width: 1300px;
  margin: 0 auto;  
}
header .container
{
  background-image: url("../images/header_bg.png");
  height: 570px;  
}

header .container .logo
{
   margin: 20px 0px 0px 37px;
}
header .container .text
{
  margin: 43px 0px 0px 92px;
  color: #f5b7b6;
}
header .container .phone
{
  font-size: 20px;
  margin: 24px 24px 0px 0px;
  color: #f5d6d6;
}
header .container .phone div
{
  margin: 0px 0px 0px 69px;
}
header .container .phone a
{
  color: #f5d6d6;
  font-size: 16px;
  padding: 0px;
  text-decoration: none;
  border-bottom: 1px solid #f5d6d6;
}
.header_inner
{
  background: url("../images/header_line.png") repeat-x;  
}
.header_inner .container
{
  background: url("../images/header_bg2.png") no-repeat;
  height: 205px;  
}

.nav-list-right
{
  float: right;  
}
.nav-list li
{
    float: left;
} 
.menu
{
  border: 0px solid;
  background-color: #37474f;
  margin: -29px 0px 0px 0px;
  padding: 0px 0px 0px 19px;
  float: left;
  height: 50px;
}
.menu ul li a
{
  margin: 0px 1px 1px 1px;
  padding: 16px 20px 12px 20px;
  font-size: 17px;
  font-weight: 300;
  border: 0px solid;
  line-height: 3;
  color: #a3b1b8;
  text-decoration: none;
}
.menu ul li a:hover
{
  color: #fff;
}
.menu ul li .active
{
      border-bottom: 3px solid #ffa726;
      color: #fff;
}
.short
{
  text-align: center;
  color: #fff;
  padding: 40px 0px 0px 0px;
}
.short .short_text
{
  font-size: 36px;
  font-weight: 600;
  padding: 0;
}
.in-short 
{
  color: #78909c;
  text-align: center;
  margin: 42px 0px 0px 38px;
  font-size: 16px;
}
.in-short li 
{
  margin: 0px 55px 0px 20px;
  display: inline-block;
  position: relative;
}
.in-short_text
{
  font-size: 24px;
  color: #fff;  
}
.in-short_icon 
{ 
  background: url("../images/circle.png") no-repeat;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10px;
  border-radius: 100px;
  font-size: 38px;
  color: #fff;
  font-weight: 100;
  padding: 25px 0px 0px 0px;
}
.short_pointer
{
  background: url("../images/short_pointer.png") no-repeat;
  width: 120px;
  height: 10px;
  position: absolute;
  top: 45px;
  left: 91%;
}
.short_pointer_mini
{
  background: url("../images/short_pointer_mini.png") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 188px;
  left: 47%;
}
.content .container
{
   border: 0px solid #000; 
}
.content .container .left
{
   border: 0px solid #000;
   width: 995px;
   float: left;
   background-color: #f5f7f8;
}
.content .inner .left
{
   background-color: #fff;
}
.content .inner .left .title > img{
  position: relative;
  top: 7px;
}
.content .inner .left .title
{
  float: left;
  margin: 20px 0px 0px 40px;
  font-size: 36px;
  font-weight: 700;
  color: #e53935;
}
.content .inner .left .filter
{
   float: right;
   margin: 30px 24px 0px 0px;
}
.content .inner .left .filter ul
{

}
.content .inner .left .filter ul li
{
    display: inline-block;  
}
.content .inner .left .filter ul li a
{
  font-size: 12px;
  font-weight: 400;
  color: #526066;
  padding: 0px 0px 0px 7px;
}
.content .inner .left .filter ul li select
{
  font-size: 11px;
  padding: 4px 15px 4px 4px;
  background-position: 103px 10px;
}
.content .container .right
{
   border: 0px solid #000;
   width: 305px;
   float: right; 
}
.content .container .right .search
{
   border-bottom: 1px solid #eceff1;
   padding: 1px 0px 40px 0px;
}
.content .container .right .search .text
{
  margin: 34px 0px 0px 35px;
  font-size: 18px;
  font-weight: 300;  
  padding: 0;
  color: #546e7a;
}
.content .container .right form
{
   padding: 10px;
}
.content .container .right .search .sbHolder
{
   height: 40px;
   margin: 5px 0px 0px 25px;
   width: 230px;
}

.content .container .right .search .sbHolder .sbSelector {
  display: block;
  height: 30px;
  font-weight: 400;
  text-indent: 10px;
  top: 4px;
  width: 170px;
  font-size: 16px;
}
.content .container .right .search .sbHolder .sbOptions
{
 width: 230px; 
}

.content .container .right .search .sbHolder .sbOptions a
{
  font-weight: 300;
  font-size: 14px;
}
.content .container .right .search .sbHolder .sbToggle
{
 background-position: 38px 18px;   
}
.content .container .right .search .form_group 
{
   margin: 10px 0px 0px 25px;
   position: relative;
  
}
.content .container .right .search .form_group label 
{
   margin: 0px 0px 0px 0px;
   font-size: 14px;
   font-weight: 300;
   color: #546e7a;   
}
.content .container .right .search form .form_group input[type=text]
{
  width: 107px;
  margin: 0px 16px 0px 0px;
  float: left;
  height: 40px;
  font-size: 17px;
  border-radius: 3px;
}
.content .container .right .search form .form_group #from 
{
  background: url("../images/clear.png") no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 37px;
  left: 92px;
  display: none;
  cursor: pointer;
}
.content .container .right .search form .form_group #prior 
{
  background: url("../images/clear.png") no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 37px;
  left: 215px;
  display: none;
  cursor: pointer;
  
}
.btn-search
{
  margin: 20px 0px 0px 25px;
  width: 230px;
  height: 40px;
  background: #ffa726;
  color: #fff;
  font-size: 18px;
}
.btn-search:hover{
  color: #fff;
}


.btn-search.no-margin{
  margin-bottom: -15px;
}
.right_box
{
  margin: 10px 10px 10px 10px;  
}
.right_box .text
{  
  margin: 38px 0px 0px 23px;
  font-size: 14px;
  font-weight: 300;
  color: #546e7a;
  padding: 2px 0px 2px 0px;
}
.right_box img
{
  margin: 1px 0px 0px 25px;
}
.car_model_block
{
  padding: 35px 0px 40px 30px;
}
.car_model_block .text
{
  margin: 0px 0px 17px 7px;
  
  color: #e53935;
  font-size: 24px;
  font-weight: 300;  
}
.car_model_block ul
{
    
  margin: 0px 0px 12px 0px;
  font-size: 19px;
  float: left;
  display: -webkit-inline-box;
  /*display: ;  */
  /*  
  margin: 10px 70px 45px 0px;
  font-size: 19px;
  float: left;
  */
}
.car_model_block ul li 
{
    display: inline-block;
    /*margin: 0px 65px 0px 0px;*/
    margin: 0px 35px 0px 0px;
    width: 200px;
 /* margin: 3px 0px 11px 0px;*/
}

.car_model_block ul li a
{
  padding: 5px 13px 5px 13px;
  position: relative;
  text-decoration: none;
  border-radius: 2px;
  color: #546e7a;
}
.car_model_block ul li a img
{
  margin: 0px;
  position: relative;
  top: 3px;
  border: none;

}
.car_model_block ul li a span
{
  color: #b0bec5;
  margin: 0px 0px 0px 4px;
}
.car_model_block ul li a:hover
{
  background: #37474f;
  color:#fff;
}
.last_add
{
  background: #37474f;
  width: 100%;
}
.last_add .text
{
  color: #ffa726;
  margin: 34px 0px 12px 39px;
  float: left;
  font-size: 24px;
}
.last_add
{
    
}
.last_add .text_all
{
  margin: 10px 0px 0px 38px;
  padding: 0px 0px 55px 0px;
}
.last_add .text_all a
{
   text-decoration: none;
   font-size: 18px; 
}
.last_add .text_all span
{
  background: url("../images/grid.png") no-repeat;
  padding: 0px 11px 0px 12px;
  background-position: 5px 5px;
}
.last_add .row
{
  width: 915px;
  margin: 0 auto;
}
.last_add .row .item
{
  position: relative; 
  margin: 1px;
  float: left;
  overflow: hidden;
}
.last_add .row .item a
{
 border: none;
}
.last_add .row .item a img
{
 border: none;
}
.last_add .row .item:hover .item_bg 
{
  background: none;
  border: 2px solid #ffa726;
  transition: all 0.3s ;
}
.last_add .row .item .item_bg
{
  background: url("../images/for_bg.png"); /**/
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.last_add .row .item .info 
{
  position: absolute;
  top: 170px;
  left: 0px;
  z-index: 10;
  width: 100%;
  transition: all .25s ease;
}
.last_add .row .item .info .bg_bottom
{
  background: url("../images/bg_bottom.png") 0px 132px;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 32px;  
}

.last_add .row .item .info .name
{
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  margin: 0px 0px 0px 12px;
  z-index: 9;
  transition: all .25s ease;
  position: absolute;
}
.last_add .row .item .info .att
{
    margin-top: 8px;
    margin-left: 11px;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    transition: all .25s ease;
    position: absolute;
    top: 22px;

}
.last_add .row .item .info .pointer
{
  background: url("../images/last_add_pointer.png") no-repeat;
  position: absolute;
  top: 8px;
  right: 100px;
  width: 17px;
  height: 16px;
  display: none;
  transition: all 0.5s ease; 
}
.last_add .row .item:hover .info 
{
  top: 155px;
  transition: all .5s ease;
}
.last_add .row .item:hover .item_bg 
{
  
  transition: all .5s ease;
}
 

.last_add .row .item:hover .att 
{
  margin-top: 0px;
  margin-bottom: 7px;
  transition: all .5s ease;
}

.last_add .row .item:hover .info .pointer
{
   top: 8px;
   right: 9px;
   display: block;
   transition: all 0.5s ease;
}
.last_add .row .item:hover .info .bg_bottom
{
  background: url("../images/bg_bottom2.png") 0px 149px;
  position: absolute;
  top: 0px;
  left: 2px;
  width: 98.7%;
  height: 45px; 
}

footer 
{
   background: #eceff1;
}
footer .container
{
 
}
footer .container ul
{
  margin: 35px 0px 0px 179px;
  float: left;
}
footer .container ul li
{
  margin: 0px 22px 0px 0px;
}
footer .container ul li a
{
 color: #e53935;
 text-decoration: none;
 font-size: 18px;
 font-weight: 400;
}
footer .container ul li a:hover
{
 color: #37474F;
}
footer .social
{
  float: left;
  margin: 42px 0px 0px 132px;
}
footer .social .text
{
 color: #78909c;
 font-size: 18px;
 float: left;
 font-weight: 300;

}
footer .social ul
{
 margin: 0;
 padding: 0;
}
footer .social ul li
{
   margin: 0px 0px 0px 10px;
}
footer .social ul li a
{
  padding: 4px 4px 4px 4px;
  background: #e53935;
  border-radius: 2px;
  color: #fff;
}
.footer_bottom
{
  margin: 0px auto 0px auto;
  width: 280px;
  font-size: 14px;
  font-weight: 400;
  padding: 60px 0px 40px 0px;
}
.form_ie8
{
    
}
.form_ie8 .styled-select
{
  margin: 0;
  border: 0;
  background: none;
    
}

.form_ie8 select
{
  margin: 0px 0px 0px 21px;
  width: 235px;
  height: 40px;
  background: #CFD8DC;
  color: #546E7A;
  border: 0;
  font-size: 16px;
  padding: 10px;  
}
.form_ie8 input
{
  padding: 10px;  
}
.styled-select {
   width: 230px;
   height: 40px;
   overflow: hidden;
   border: 1px solid #CFD8DC;
   border-radius: 3px;
   background:  #CFD8DC;
   margin: 5px 0px 0px 25px;
}
.styled-select select {
   width: 230px;
   height: 39px;
   padding: 3px 5px 5px 5px;
   font-size: 17px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance:none;
   color: #546E7A;
   background: url(../images/select_pointer.png) no-repeat right #CFD8DC;
   background-position: 210px 18px ;
   cursor: pointer;
}
.breadcrumb {
  border-bottom: 1px solid #ECEFF1;  
  padding: 20px 20px;
  list-style: none;
  font-size: 12px;
}
.breadcrumb > li {
  display: inline-block;
  padding: 0px 15px 0px 0px;
  position: relative;
}
.breadcrumb > li span {
  background: url(../images/breadcrumb.png) no-repeat 0px 0px;
  width: 10px;
  height: 20px;
  position: absolute;
  top: 4px;
  right: 0px;
}
.breadcrumb > li a {
  text-decoration: none;
  font-size: 12px;
  color: #97aab3;
  font-weight: 300;  
}
.breadcrumb > li a:hover 
{
  color: #e74642;
}

.breadcrumb .active 
{
  color: #e74642;
  font-weight: 500;  
}
 .inner .search
{
  padding: 1px 0px 40px 0px;
  background: #eceff1; 
}
.select
{
  background: url(../images/select_pointer.png) no-repeat right;
  background-position: 117px 9px;
  border: 1px solid #cfd8dc;
  border-radius: 2px;
  padding: 3px 15px 3px 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #6c787e;
      
}
.car_list
{
  margin-top: 21px;
  color: #fff;  
}
.car_list .row .item
{
  margin: 0px 25px 1px 0px;
  background: #37474f;
  height: 583px;
}
.car_list .row .item .item_left 
{
  float: left;
}
.car_list .row .item .item_right
{
  float: right;
  width: 310px;
  padding: 27px 20px 0px 21px;
}
.car_list .row .item .item_title 
{
  float: left;
  font-size: 23px;
  font-weight: 600;
  margin: 35px 0px 0px 39px;
}
.car_list .row .item .item_title a 
{
  text-decoration: none;
  color: #fff;
}
.car_list .row .item .item_title a span
{
  padding: 0px 0px 0px 10px;
  font-weight: 200;
  color: #caced0;   
}
.car_list .row .item .media
{
  margin: 80px 0px 0px 40px;
}
.car_list .row .item .attribute
{
  margin: 67px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: MyriadPro;
  font-size: 14px;
  color: #cfd8dc;
  min-height: 121px;
}
.car_list .row .item .attribute table
{

}
.car_list .row .item .attribute table tr:last-child > td:last-child
{
 
}
.car_list .row .item .attribute table tr td
{
  padding: 3px 50px 5px 0px;
}
.car_list .row .item .attribute table tr:last-child > td
{
 padding: 3px 10px 0px 0px;
}
.car_list .row .item .attribute table tr td:last-child
{
  color: #fff;
  padding: 3px 0px 5px 16px;
}
.car_list .row .item .read_more
{
   margin: 25px 0px 0px 0px;
   height: 17px;
}
.car_list .row .item .read_more a
{
  text-decoration: none;
  padding: 0px 21px 0px 0px;
  position: relative;
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  border: none;
}
.car_list .row .item .read_more a img
{
 position: absolute;
 top:1px;
 right: 0px;
 border: none;
}
.car_list .row .item .price
{
  height: 32px;
  font-size: 25px;
  font-weight: 500;
  margin: 80px 0px 0px 0px;
  padding: 2px 0px 0px 0px;
}
.car_list .row .item .price span
{
  font-weight: 200;
  color: #caced0;
}
.car_list .row .item .btn-order
{
  width: 100%;
  background: #ffa726;
  padding: 7px 0px 9px 0px;
  margin: 36px 0px 0px 0px;
  margin-bottom: 9px;
  color: #37474f;
  font-size: 18px;
}
.car_list .row .item .btn:focus
{
   outline: none; 
}

.car_list .row .item .btn-calculate
{
  width: 100%;
  padding: 7px 10px 9px 0px;
  border: 1px solid #455a64;
  color: #caced0;
  font-size: 18px;
  background: url("../images/calculate.png") no-repeat 212px 9px;
  font-weight: 300;
  font-family: Roboto;
}
.fotorama__nav
{
   text-align: left; 
}
.fotorama__nav__frame--thumb
{
  opacity: 0.5;  
}
.fotorama__active
{
   opacity: 1; 
}
.pager
{
  margin: 23px 0px 44px 0px;
  width: 100%;
  text-align: center; 
}
.pager li
{
  display: inline-block; 
}
.pager .active a
{
  background: #ffa726;
}
.pager li a
{
  border: 0px solid;
  padding: 3px 12px 3px 12px;
  text-decoration: none;
  border-radius: 3px;
  color: #6c787e;
  font-size: 25px;
  position: relative; 
}

.pager .previous span 
{
  background-image: url("../images/pager_previous.png");
  background-position: 10px 5px;
  background-repeat: no-repeat;
  margin: 0px 10px 0px 0px;
  position: absolute;
  height: 18px;
  width: 17px;
  top: 9px;
  left: 4px;
}
.pager li a:hover
{
  background-color: #f5f7f8;  
}
.pager .previous a 
{
  padding: 3px 18px 3px 18px; 
}
.pager .next span
{
  background: url("../images/pager_next.png") no-repeat 11px 5px;
  margin: 0px 0px 0px 10px;
  position: absolute;
  height: 18px;
  width: 17px;
  top: 9px;
  right: 15px;
}
.pager .next a 
{
  padding: 3px 18px 3px 18px;  
}
.car_details
{
  margin-top: 21px;
  color: #fff;
}
.car_details .details
{
  margin: 0px 25px 0px 0px;
  background: #37474f;
  height: 580px;  
}

.car_details .details .details_left
{
  float: left;
}
.car_details .details .details_left .details_title
{
  float: left;
  font-size: 23px;
  font-weight: 600;
  margin: 35px 0px 0px 39px;
}
.car_details .details .details_left .details_title a
{
  text-decoration: none;
  color: #fff;
}
.car_details .details .details_left .details_title a span
{
  padding: 0px 0px 0px 10px;
  font-weight: 200;
  color: #caced0;
}
.car_details .details .details_left .media
{
    margin: 80px 0px 0px 40px;  
}

.car_details .details .details_right
{
  float: right;
  width: 310px;
  padding: 27px 20px 0px 21px;
}
.car_details .details .details_right
{

}
.car_details .details .details_right .attribute
{
  height: 121px;  
  margin: 67px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: MyriadPro;
  font-size: 14px;
  color: #cfd8dc;
}
.car_details .details .details_right .attribute table
{

}
.car_details .details .details_right .attribute table tr:last-child > td:last-child
{

}
.car_details .details .details_right .attribute table tr td
{
  padding: 3px 50px 5px 0px;
}
.car_details .details .details_right .attribute table tr:last-child > td
{
 padding: 3px 10px 0px 0px;
}
.car_details .details .details_right .attribute table tr td:last-child
{
  color: #fff;
  padding: 3px 0px 5px 16px;
}

.car_details .details .details_right .price
{
  height: 30px;
  font-size: 25px;
  font-weight: 500;
  margin: 124px 0px 0px 0px;
}
.car_details .details .details_right .price span
{
  font-weight: 200;
  color: #caced0;  
}
.car_details .details .details_right .btn-order
{
  width: 100%;
  background: #ffa726;
  padding: 9px 0px 9px 0px;
  color: #37474f;
  font-size: 18px;
  margin: 35px 0px 10px 0px;
}
.car_details .details .details_right .btn-calculate
{
  width: 100%;
  padding: 9px 13px 9px 0px;
  border: 1px solid #455a64;
  background: #37474F;
  color: #caced0;
  font-size: 18px;
  background: url("../images/calculate.png") no-repeat 209px 11px;
  font-weight: 200;
  font-family: Roboto;
}

.car_details  .details_bottom
{
  margin: 0px 25px 0px 0px;
  background: #455a64;
  min-height: 370px;
  overflow: hidden;
}
.car_details  .details_bottom .attribute
{
   float: left;
   margin: 0px 0px 0px 0px; 
}
.car_details  .details_bottom .attribute .title
{
  color: #b0bec5;
  float: none;
  font-size: 14px;
  font-weight: 100;
  border-bottom: 2px solid #FFA726;
  width: 120px;
  text-transform: uppercase;
  padding: 0px 0px 6px 0px; 
}
.car_details  .details_bottom .attribute table
{
  margin: 0px 0px 0px 0px;  
}
.car_details  .details_bottom .attribute table tr
{
    
}
.car_details  .details_bottom .attribute table tr td
{
  padding: 0px 29px 9px 0px;
  font-size: 14px;
  color: #aab6bc; 
}
.car_details  .details_bottom .attribute table tr td:last-child
{
  color: #fff;
  font-weight: 300; 
}
.contact
{
  margin: 0px 0px 195px 0px;    
}
.contact .info
{
  float: left;
  font-size: 16px;
  margin: 23px 0px 0px 30px;
  position: relative;
  font-weight: 200;
}
.contact .info span
{
    padding: 0px 0px 0px 25px;  
}
.contact .info img
{
  position: absolute;
  top:0px;
  left: 0px;
  
}
.contact .phone
{
   margin: 23px 0px 0px 40px;
}
.contact .phone span
{
    padding: 0px 0px 0px 17px;
  
}
.contact .email
{
}
.contact .address
{
}
.contact .address span
{
    padding: 1px 1px 1px 17px;
}
.contact_box
{
  margin: 32px 25px 0px 0px;
  border: 1px solid #eceff1;
  border-left: 0;
  height: 432px;
}
.form_contact
{
   margin: 35px 0px 0px 0px;
   width: 447px;
   float: left;
}
.form_contact .form_group
{
  margin: 0px 0px 20px 40px;
  font-size: 14px;
  color: #82959d; 
}
.form_contact .form_group input
{
  border: 0;
  background: #eceff1;
  padding: 5px 10px 5px 10px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 300;
  color: #82959d;
  font-family: Roboto; 
}
.input_:focus
{
  border: 1px solid #ffa726!important;
  background: #fff!important;
  border-radius: 3px;  
}
.form_contact .form_group textarea
{
  width: 100%;
  height: 120px;
  background: #ECEFF1;
  border: 0;
  font-size: 20px;
  font-weight: 300;
  color: #82959d;
  font-family: Roboto;
  padding: 5px;
}
.form_contact .form_group textarea:focus
{
  border: 1px solid #ffa726;
  background: #fff;
  border-radius: 3px  
}
.form_contact .form_group .submit
{
  background: #ffa726;
  color: #fff;
  font-size: 18px;
  width: 168px;
  margin: 3px 0px 0px 0px;
  float: right;
}
.contact_box .map
{
  float: right;
}
.calculate
{
    border: 1px solid #eceff1;
    border-left: 0;
    background: #fff;
    margin: 20px 25px 0px 0px;
   
}
.modal
{
   width: 70%;
   margin: 0 auto; 
   background: #fff;
   position: relative;
}
.modal .calculate
{
   border: 0;
   margin: 0; 
}
.modal__main__header
{
  border-bottom: 1px solid #ECEFF1;    
}
.modal_title
{
  text-align: center;
  border: 0;    
} 
.modal__main__header .title
{
  margin: 10px 0px 9px 20px;
  font-size: 30px;
  font-weight: 700;
  color: #546e7a;
}
.madal_body input
{
  border: 0;
  background: #eceff1;
  padding: 5px 10px 5px 10px;
  height: 40px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 300;
  color: #546e7a;
  font-family: Roboto;
}
.madal_body .select
{
  width: 230px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #CFD8DC;
  border-radius: 3px;
  background: #CFD8DC;
  padding: 0;
  margin: 19px 0px 0px 15px; 
}
.madal_body .select > select
{
  width: 230px;
  height: 39px;
  padding: 3px 5px 5px 5px;
  font-size: 17px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #546E7A;
  background: url(../images/select_pointer.png) no-repeat right #CFD8DC;
  background-position: 213px 19px;
  cursor: pointer;
}

.madal_body input:focus
{
  border: 1px solid rgb(255, 167, 38);
  background: #fff;
}

.madal_body table.table-form
{
   margin: 20px 0px 0px 30px;
}
.madal_body table.table-form tr
{
   height: 60px;
}
.madal_body table.table-form tr td
{
  padding: 20px 0px 0px 10px;
  font-size: 13.5px;
  color: #546e7a;
  font-weight: initial;
  vertical-align: top;
}
.madal_body table.table-form .calculate_sum td:first-child
{
  padding: 29px 0px 0px 9px;  
}
.madal_body table.table-form .calculate_sum input
{
    margin: 19px 0px 0px 15px;
}

.madal_body table.table-form .calculate_percentage td:first-child
{
  padding: 30px 0px 0px 10px;
}
.madal_body table.table-form .calculate_percentage ul
{
  margin: 27px 0px 0px 15px; 
}
.madal_body table.table-form .calculate_time td:first-child
{
    padding: 15px 0px 0px 10px;
}
.madal_body table.table-form .calculate_time td ul
{
  margin: 10px 0px 0px 15px;  
}
.madal_body table.table-form .calculate_rate td:first-child
{
  padding: 11px 0px 0px 9px    
}
.madal_body table.table-form .calculate_rate td input
{
  margin: 3px 0px 0px 15px;
}
.madal_body table.table-form .calculate_type td:first-child
{
  padding: 22px 0px 0px 8px;    
}
.madal_body table.table-form tr td:last-child
{
    padding: 0px;
    width: 470px;  
}

.madal_body table.table-form tr td ul li
{
  display: inline-block;
  position: relative;
  margin: 0px 17px 0px 0px;
  font-size: 18px;
}

.madal_body .line
{
  border-top: 1px solid #eceff1;
  margin: 26px 45px 0px 40px;
}
.madal_body .message
{
  border: 0px solid;
  padding: 18px 0px 0px 46px;
  font-size: 14px;
  font-weight: 300;
  color: #82959d;
  line-height: 2;
}
.madal_body .message i:before
{
  font-size: 21px;
  font-weight: 100;
  color: #cfd8dc;
}
.madal_body .bottom
{
  width: 100%;
  height: 100px;
  background: #eceff1;
  text-align: center;
  margin: 29px 0px 0px 0px;
}
.madal_body .bottom .btn
{
  background: #ffa726;
  color: #fff;
  height: 40px;
  padding: 0px 30px 0px 30px;
  font-size: 22px;
  font-weight: 300;
  font-family: Roboto;
  margin: 33px 0px 0px 0px;
}
.madal_body .bottom  a
{
   padding: 7px 30px 0px 30px!important;
}
.modal-order
{
    
}
.modal-order .form_group
{
    margin: 25px 1px 30px 50px;   
}
.modal-order .form_group .label
{
   float: left;
   width: 200px;
}
.modal-order .form_group input
{
 
}
.modal-order .form_group input.input_
{
   width: 680px;
}
.modal-order .form_group input[name=email]
{
   width: 680px;
}
.modal-order .form_group input.input_.phone
{
   width: 400px;
}

.modal-order .form_group input.error
{
    border: 1px solid #f00!important;
    background: #ffcdd2!important;
}

.modal-order .form_group textarea.error
{
    border: 1px solid #f00!important;
    background: #ffcdd2!important;
}

.modal-order .form_group textarea
{
  width: 680px;
  height: 200px;
  border: 0;
  background: #ECEFF1;
  border-radius: 3px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  padding: 10px;
  max-width: 680px;
}
.modal-order .form_group textarea:focus
{
  border: 1px solid #FFA726;
  background: #fff;
}
.error_container {
  display: block;
  margin: 0px 0px 0px 45px;
  color: #ff1744;
  font-weight: 300;
}
.error_container li 
{
  list-style: none;  
}
.successful_container {
  display: block;
  margin: 0px 0px 0px 45px;
  color: #43a047;
  font-weight: 300;
}
.successful_container li 
{
  list-style: none;  
}

.error_container span {
       font-weight: 500;
}


/*------------IE-------------------*/

.lt-ie9 .menu 
{
  margin: 25px 0px 0px 0px;
}
.td
{
    padding-top: 0px!important;
}


/*------------Radio-------------------*/
	.custom-radio{
		width: 18px;
		height: 18px;
		display: inline-block;
        margin: 0px 4px 0px 0px;
		position: relative;
		z-index: 1;
		top: 3px;
		background: url("../images/radio-sprite.png") no-repeat 0px 0px transparent;
	}
	.custom-radio:hover{
		background-position: 0 -20.5px;
    }
	.custom-radio.selected{
	    background-position: 0 -42.5px;
	}
	.custom-radio input[type="radio"]{
		margin: 1px;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}


.tabs-menu {
      height: 30px;
      float: left;
      clear: both;
      margin: 36px 0px 0px 39px;
      font-size: 14px;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
   
}

.tabs-menu li.current {
      position: relative;
      border-bottom: 2px solid #FFA726;
      z-index: 5;
}

.tabs-menu li a {
    
    text-transform: uppercase;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #FFA726;
}

.tab {
      border: 0px solid #d4d4d1;
      float: left;
      margin: 4px 0px 0px 21px;
      width: auto;
}

.tab-content {
    width: 660px;
    padding: 20px;
    display: none;
}

#tab-1 {
 display: block;   
}


.empty{
  color: #546e7a;
  margin-left: 35px;
  font-size: 20px;
  font-weight: bold;
}

.e-more-btn{
  display: block;
  font-weight: bold;
  margin: 10px 30px;
  cursor: pointer;
}

